body {
    background-color: rgb(58, 58, 58);
}
.nav-link {
    background-color: lightgrey;
    color: black;
    margin-right: 0.1rem;
}
.nav-link:hover {
    color: black;
    background-color: white;
}
nav {
    background-color: darkgrey;
    height: 3rem;
    padding: 0.25rem;
    box-sizing: border-box;
}
main {
    background-color: white;
    height: 40rem;
    padding-top: 1.5rem;
}
img {
    margin-top: -1.5rem;
}
.subtext {
    float: right;
}
.subtextL {
    float: left;
}
.imageDivL {
    float: left;
    margin-right: 2rem;
    max-width: 200px;
}
.imageDivR {
    float: right;
    max-width: 200px;
}
.rounded {
    max-width: 200px;
    min-width: 200px;
}
#section1 p {
    width: 50rem;
}
#section2 {
    width: 100%;
    margin-top: 8rem;
    height: 200px;
}
#text {
    max-width: 55rem;
}