/*John Spruijt ©2020 */
body {
    background-color: rgb(58, 58, 58);
    font-family: 'Roboto', sans-serif;
}
.nav-link {
    background-color: lightgrey;
    color: black;
    margin-right: 0.1rem;
}
.nav-link:hover {
    color: black;
    background-color: white;
}
nav {
    margin-top: 1rem;
    background-color: darkgrey;
    height: 3rem;
    padding: 0.25rem;
    box-sizing: border-box;
}
main {
    background-color: white;
    padding-top: 1.5rem;
}
img {
    margin-top: -1.5rem;
    box-sizing: border-box;
}
.subtext {
    float: right;
}
.subtextL {
    float: left;
}
.imageDivL {
    float: left;
    margin-right: 2rem;
    max-width: 12.5rem;
    max-height: 12.5rem;
}
.imageDivR {
    float: right;
    max-width: 12.5rem;
    max-height: 12.5rem;
}
.rounded {
    max-width: 12.5rem;
    max-height: 12.5rem;
}
#section1 p {
    width: 50rem;
}
#section3 p {
    width: 50rem;
}
#section3 {
    height: 12.5rem;
}
#section2 {
    width: 100%;
    margin-top: 8rem;
    height: 12.5rem;
}
#text {
    max-width: 55rem;
}
#footer {
    background-color: rgb(17, 17, 17);
    color: white;
    text-align: right;
    padding-right: 3rem;
}
#language1 {
    width: 100%;
    margin-top: 1rem;
    height: 11rem;
    font-size: 1.3rem;
}
#language2, #language3, #language4 {
    width: 100%;
    margin-top: 3rem;
    height: 11rem;
    font-size: 1.3rem;
}
#language3 img {
    margin-top: 1rem;
}
#main {
    height: 30rem;
}
#mobileWhiteSpace {
    display: none;
}
@media (max-width: 1000px) {
    #main {
        height: 40rem;
    }
    .nav-link {
        margin-right: 0.2rem;
        font-size: 1rem;
        padding-left: 0.4rem;
        padding-right: 0.4rem;
    }
    nav {
        padding: 0;
    }
    #me {
        max-width: 8rem;
    }
    #meTxt {
        display: none;
    }
    #title {
        font-size: 1.9rem;
    }
    #mobileWhiteSpace {
        display: inline-block;
    }
    .rounded {
        max-width: 10rem;
        max-height: 10rem;
        float: right;
    }
    .imageDivR .subText {
        float: right;
        font-size: 0.8rem;
    }
}